
.env

book_recommendation_backup.sql

*.txt
!requirements.txt

__pycache__/
*.pyc
*.pyo
*.pyd

cat <<EOF > .gitignore
# Ignore all data files
model/datasets/*
!model/datasets/.gitkeep  # Preserves folder structure

*.npy
*.pkl
*.mtxmodel/datasets/kaggle_outputs/top_k_*.npy